<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'textadventureapp/images' %}">
    <title>Text-Adventure</title>
</head>
<body>

    <div class="container mt-5">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title">{{station.title}}</h5>
        <p class="card-text">{{station.text}}</p>
        {% if station.bildname %}
            <img src="{% static station.bildname %}" alt="image">
        {% endif %}
        {% for choice in station.choice_set.all %}
            <a href="{{choice.next_station.name}}" class="">{{choice.text}}</a></br>
        {% endfor %}
        </div>
    </div>
    </div>
</body>
</html>

